.link {
  text-decoration: none;
}

.category {
  display: flex;
  justify-content: space-between;
  margin: 10px 12px 12px 15px;
}
.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
.addcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amount {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.input {
  width: 40px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid teal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}
.addbutton {
  border: 2px solid teal;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
}
.addbutton:hover {
  background-color: #f8f4f4;
}
.card-img-top {
  height: 250px;
}
